:root {
  --light-blue-color: rgb(209, 238, 255);
  --medium-blue-color: rgb(125, 196, 237);
  --dark-blue-color: rgb(56, 88, 106);
  --very-dark-blue-color: rgb(31, 48, 57);
}

body {
  background: var(--medium-blue-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#weather-container {
  background: var(--light-blue-color);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 8px 40px rgba(0, 29, 66, 0.1);
}

#weather-container h2 {
  color: var(--very-dark-blue-color);
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid var(--medium-blue-color);
  border-radius: 8px;
  margin-top: 16px;
  outline: none;
  color: var(--very-dark-blue-color);
}

input[type=text]:focus {
  border: 2px solid var(--dark-blue-color);
  transition: 0.1s;
}

button {
  background: var(--medium-blue-color);
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin: 24px 0px 8px 0px;
  width: 100px;
}

button:hover {
  background: var(--dark-blue-color);
  transition: 0.1s;
}

/* WEATHER-INFO SECTION */

#weather-info {
  display: flex;
  height: 200px;
  width: 400px;
  margin-top: 20px
}

/* LEFT & RIGHT SECTIONS */

#weather-left {
  flex: 50%;
}

#weather-right {
  flex: 50%;
  margin: 0;
}

/* TOP SECTION*/

#weather-top {
  display: flex;
  margin: 0;
}

#weather-top p {
  color: var(--dark-blue-color);
  padding: 0;
}

#weather-city {
  justify-content: center;
  align-items: center;
  flex: 50%;
}

#weather-date {
  justify-content: center;
  align-items: center;
  flex: 50%;
}

/* MIDDLE SECTION*/

#weather-middle {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#weather-middle p {
  color: var(--very-dark-blue-color);
  font-size: 60px;
  margin: auto;
  height: 66.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTTOM SECTION*/

#weather-bottom {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#weather-bottom p {
  color: var(--dark-blue-color);
  text-transform: capitalize;
}


/* HOURLY FORECAST ITEMS */

#hourly-forecast {
  margin-top: 30px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 80px;
  align-items: center;
  margin: 10px;
  color: var(--dark-blue-color);
}

.hourly-item img {
  width: 50px;
  height: 50px;
}