:root {
  --light-blue-color: rgb(209, 238, 255);
  --medium-blue-color: rgb(125, 196, 237);
  --dark-blue-color: rgb(56, 88, 106);
}

body {
  background: var(--medium-blue-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#weather-container {
  background: var(--light-blue-color);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 8px 40px rgba(0, 29, 66, 0.1);
}

h2, label, p {
  color: var(--dark-blue-color);
  margin: 8px 0;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid var(--medium-blue-color);
  border-radius: 8px;
  margin-top: 16px;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid var(--dark-blue-color);
  transition: 0.1s;
}

button {
  background: var(--medium-blue-color);
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin: 24px 0px 8px 0px;
  width: 100px;
}

button:hover {
  background: var(--dark-blue-color);
  transition: 0.1s;
}

#temp-div p {
  font-size: 60px;
  margin-top: -30px;
}

#weather-info {
  font-size: 20px;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

#hourly-forecast {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 80px;
  align-items: center;
  margin: 10px;
  color: var(--dark-blue-color);
}

.hourly-item img {
  width: 50px;
  height: 50px;
}

#weather-description {
  text-transform: capitalize;
}